@keyframes SPIN {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#head {
  display: flex;
  justify-content: center;
  width: 100%;

  background-image: url("/c.png");
  background-size: cover;
  /* scale to fill */
  background-repeat: no-repeat;
  background-position: center;
}

#head>* {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: cadetblue;
  width: fit-content;
  flex-wrap: wrap;
}

#right,
#left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

#head>*>* {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
}

button {
  background-color: rebeccapurple;
}

#bearButton {
  background-color: saddlebrown;
}

#root {
  margin: 0 auto;
  text-align: center;
}

h1 {
  flex: 0;
  height: fit-content;
  margin-top: 1px;
  margin-bottom: 1pxs;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

h2 {
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0px;
  margin-bottom: 1pxs;
  flex: 0;
  height: fit-content;
}

#container {
  width: 100%;
  flex: 1;
  display: flex;
  margin: 0 auto;

}

* {
  user-select: none;
  /* Standard syntax */
}

#container>* {
  border: 3px solid black;
  flex: 1;
  background-color: sienna;
  background-image: url("/b.png");
  background-size: contain;
  /* scale to fill */
  background-repeat: repeat-x;
  background-position: center;
}

#middle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: saddlebrown;

}


#yessy {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#bear {
  -webkit-user-drag: none;
  animation: SPIN .1s linear infinite;

  background: saddlebrown;
  border: 10px solid black;
  border-radius: 100px;
}

.invert {
  filter: invert(1);
}