#root {
  margin: 0 auto;
  text-align: center;
}

#container {
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 0 auto;

}

#container>* {
  border: 3px solid black;
  flex: 1;
  height: 200px;
  background-color: aqua;
}